.grid{
  background-color: green;
  display: grid;
  padding: 20px;
  grid-column-gap: 20px;
  grid-row-gap: 10px;
  grid-template-columns: 200px auto auto;
}
.grid-class{
  background-color: white;
  font-size: 20px;
  text-align: center;
  padding: 5px;
}
